* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  position: relative;
  font-size: 16px;
  min-height: 100vh;
  font-family: 'Roboto','Tahoma',sans-serif; }

.pages-wrap {
  width: 100%;
  text-align: center; }
  .pages-wrap h2 {
    font-size: 30px; }
  .pages-wrap__paper {
    min-height: 90vh;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding: 20px 0 20px 0;
    text-align: center;
    display: block;
    animation-duration: .3s;
    animation-fill-mode: both; }
    @media (min-width: 500px) {
      .pages-wrap__paper {
        padding: 20px 20px 20px 20px; } }

a {
  text-decoration: none;
  color: inherit; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.loadAnimation {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-timing-function: ease-in;
  animation-name: fadeIn; }

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0; }

.header__title {
  margin-left: 24px; }

.main-page__tabs {
  margin-top: 30px; }

.main-page__content-block {
  margin-left: auto;
  margin-right: auto; }

.main-page__slider {
  width: 100%;
  max-width: 500px; }

.main-page__add-item {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px; }
  @media (min-width: 500px) {
    .main-page__add-item {
      padding-left: 0;
      padding-right: 0; } }

.main-page__list-items {
  padding-left: 10px;
  padding-right: 10px; }
  @media (min-width: 500px) {
    .main-page__list-items {
      padding-left: 0;
      padding-right: 0; } }
  .main-page__list-items h2 {
    text-align: center;
    font-weight: normal;
    margin-top: 30px; }

.main-page__value {
  font-size: 20px;
  margin-top: -16px;
  margin-bottom: 22px; }

.main-page__header {
  margin-bottom: 40px; }

.info-page {
  text-align: left; }
  .info-page > h2 {
    text-align: center;
    margin-bottom: 10px; }
  .info-page__content {
    display: flex;
    flex-direction: column; }
    @media (min-width: 1200px) {
      .info-page__content {
        flex-direction: row; } }
  .info-page__grid {
    width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    max-width: 510px; }
    @media (min-width: 1200px) {
      .info-page__grid {
        width: 50%;
        align-self: auto; } }
    .info-page__grid img {
      max-width: 640px;
      width: 100%;
      height: auto; }
  .info-page__grid-title {
    cursor: pointer; }
  .info-page__text {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 10px; }
    @media (min-width: 1200px) {
      .info-page__text {
        width: 50%; } }
    .info-page__text h3 {
      font-size: 25px;
      margin-top: 10px;
      margin-bottom: 5px; }
    .info-page__text p {
      margin-top: 10px; }

.card-modal {
  text-align: left;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 10;
  width: 100%; }
  @media (min-width: 500px) {
    .card-modal {
      width: auto; } }
  .card-modal__close {
    font-size: 45px;
    font-weight: bold;
    color: #000;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    box-sizing: content-box;
    z-index: 10; }

.small-display-hidden {
  display: none !important; }
  @media (min-width: 500px) {
    .small-display-hidden {
      display: inline-block !important; } }

.big-display-hidden {
  display: inline-block !important;
  margin-top: 10px; }
  @media (min-width: 500px) {
    .big-display-hidden {
      display: none !important; } }

.hover {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  cursor: pointer; }

.show {
  display: block;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-timing-function: ease-in;
  animation-name: fadeIn;
  animation-duration: .2s;
  animation-fill-mode: both; }

.register__modal {
  position: fixed;
  width: 100%;
  max-width: 400px;
  z-index: 15;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.register__wrap {
  position: relative;
  right: -20px;
  top: -20px; }

.register__paper {
  padding: 20px; }

.other-page__tab {
  text-align: center; }

.other-page__select {
  text-align: left; }

.cross {
  width: 20px;
  height: 20px;
  font-weight: bold;
  font-size: 20px; }

.error {
  background-color: red; }
